
.transcribe-result-container-outer {
    height: 70%;
    padding:20px;
    background-color: #f4f2f6 !important;
}


.transcribe-result-container {
    width: 80%;
    height: 90%;
    margin: auto;
    background: #ffffff;
    border-radius: 10px;
    overflow-wrap: break-word;
    overflow-y: scroll;
}


.transcribe_result {
   padding: 20px;
}

.transcribe-actions {
    padding-top: 15px;
    background-color: #f4f2f6 !important;
    height: 10%;
}

.transcribe-title {
    font-weight: bold;
    color: blue;
}

